{% extends 'dashboard/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block page_header_title %}
        Quote lis: dwq
    {% endblock %}
</head>
<body>
{% block base_content %}
    <div class="col p-4">
        <div class="card">
            <h5 class="card-header font-weight-light">All organizations quote </h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">اپراتور</th>
                    <th scope="col">نام مشتری</th>
                    <th scope="col">دستگاه ها</th>
                    <th scope="col">جزییات</th>
                    <th scope="col">pdf خروجی</th>
                    <th scope="col">عملیات</th>
                </tr>
                </thead>
                {% for org in object_list %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ org.creator }}</td>
                        <td>{{ org.organization_related }}</td>
                        <td>{{ org.organization_related.get_suggestion_product }}</td>
                        <td><a href="{% url 'quote:detail-quote' org.pk %}">نمایش</a></td>
                        <td><a href="{% url 'quote:pdf-quote' org.pk %}">پرینت</a></td>
                        <td><a href="{% url 'quote:email-quote' org.pk %}">ایمیل</a></td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
     {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
        <div class="card-body">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-primary justify-content-center">
                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}"><a class="page-link"
                                                                                                   href="?page=1">
                        <span aria-hidden="true"><i class="bi bi-chevron-double-left"></i></span>
                    </a></li>
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                            <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                        </a></li>
                    {% endif %}
                    {% for page in page_obj.paginator %}
                        <li class="page-item {% if page_obj.number == forloop.counter %}active{% endif %}"><a
                                class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">
                            <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                        </a></li>
                    {% endif %}
                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}"><a class="page-link"
                                    href="?page={{ page_obj.paginator.num_pages }}">
                        <span aria-hidden="true"><i class="bi bi-chevron-double-right"></i></span>
                    </a></li>
                </ul>
            </nav>
        </div>
    </div>
    <br>

{% endblock %}

</body>
</html>