{% extends 'dashboard/base.html' %}

{% block page_header_title %}
    Organization: {{ object.name }}
{% endblock %}
{% block base_content %}
    <div class="col p-4">
        <div class="card">
            <h5 class="card-header font-weight-light" id="label1">organization info: {{ object.name }}</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">نام شرکت</th>
                    <th scope="col">استان</th>
                    <th scope="col">تلفن</th>
                    <th scope="col">ایمیل</th>
                    <th scope="col">تعداد کارمندان</th>
                    <th scope="col">محصولات تولیدی</th>
                    <th scope="col">محصولات پیشنهادی</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <tr>
                    <td>{{ object.name }}</td>
                    <td>{{ object.city }}</td>
                    <td>{{ object.number }}</td>
                    <td>{{ object.email }}</td>
                    <td>{{ object.number_of_employees }}</td>
                    <td>
                        {% for obj in object.get_organization_product %}
                            ({{ obj }})
                        {% endfor %}
                    </td>
                    <td>
                        {% for obj in object.get_suggestion_product %}
                            ({{ obj }})
                        {% endfor %}
                    </td>
                </tr>
                </tbody>
            </table>
            <h5 class="card-header font-weight-light" id="label2">introducer info: {{ object.introducer_name }}</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">نام معرف</th>
                    <th scope="col">شماره معرف</th>
                    <th scope="col">ادمین مربوطه</th>
                    <th scope="col">تاریخ ثبت</th>
                    <th scope="col">پیگیری فروش</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ object.introducer_name }}</td>
                    <td>{{ object.introducer_number }}</td>
                    <td>{{ object.operator_info }}</td>
                    <td>{{ object.created_info }}</td>

                    <td><a href="{% url 'followup:create-followup' %}" class="btn btn-primary "> ثبت</a></td>
                </tr>
                </tbody>
            </table>
            <table class="table table-success">
                {#                <thead>#}
                {#                <tr>#}
                {#                    <th scope="col">نام معرف</th>#}
                {#                    <th scope="col">شماره معرف</th>#}
                {#                    <th scope="col">ادمین مربوطه</th>#}
                {#                    <th scope="col">تاریخ ثبت</th>#}
                {#                    <th scope="col">پیگیری فروش</th>#}
                {#                </tr>#}
                {#                </thead>#}
                <h4 style="text-align: center " | class="text text-danger">پیگیری ها</h4>
                {% for obj in object.followup_set.all %}
                    <tr>
                        <td class="text-bold-500">{{ forloop.counter }}</td>
                        <td>
                        </td>
                        <td>{{ obj.body | truncatechars:50 }} </td>
                        <td><a href="{% url 'followup:detail-followup' obj.pk %}" class="btn btn-primary ">مشاهده</a></td>
                    </tr>
                {% endfor %}

            </table>
        </div>
    </div>
{% endblock %}