{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}
{% load static %}
    {% block page_header_title %} Follow Up {% endblock %}
{% block base_content %}
    <div class="col p-4">
        <div class="card">
            <h5 class="card-header font-weight-light">create new organization</h5>
            <form method="post" ALIGN='center'>
                {% csrf_token %}
                <label for="id_name" id="name">موضوع:</label>
                {{ form.subject|add_class:'form-contorl'}}<br>
                <label for="id_city" id="city">متن پیگریی:</label>
                {{ form.body|add_class:'form-contol' }}<br>
                <label for="id_number_of_employees" id="number_of_employees">نام شرکت:</label>
                {{ form.organization_related|add_class:'form-contorl' }}<br>
                <button id="send-form" class="btn btn-primary " name="submit">save💾</button>
                <a href="{% url 'followup:create-followup' %}" class="btn btn-danger col-md-1">Reset</a>
            </form>
        </div>
    </div>
{% endblock %}
{% block page_scripts %}
{% endblock %}
