{% extends 'dashboard/base.html' %}
{% load widget_tweaks %}
{% load static %}

<head>
    <title> register </title>
</head>
<body>
{% block base_content %}
    <div class="col p-4">

        <div class="card">
            <h5 class="card-header font-weight-light">create new organization</h5>
            <form method="post"  ALIGN='center'>
                {% csrf_token %}
                <label for="id_name" id="name">نام سازمان:</label>
                {{ form.name|add_class:'form-contorl ' }}<br>
                <label for="id_city" id="city">محل سازمان:</label>
                {{ form.city|add_class:'form-contorl' }}<br>
                <label for="id_number" id="number">شماره تلفن سازمان:</label>
                {{ form.number|add_class:'form-contorl' }}<br>
                <label for="id_email" id="email">ایمیل سازمان:</label>
                {{ form.email|add_class:'form-contorl' }}<br>
                <label for="id_number_of_employees" id="number_of_employees">تعداد کارمندان سازمان:</label>
                {{ form.number_of_employees|add_class:'form-contorl' }}<br>
                <label for="id_related_product" id="related_product">محصولات سازمان:</label>
                {{ form.related_product|add_class:'form-contorl' }}<br>
                {#                {% render_field form_org.related_product|add_class:'form-contorl' %} <br>#}
                <label for="id_introducer_name" id="introducer_name">نام رابط سازمان :</label>
                {{ form.introducer_name|add_class:'form-contorl' }}<br>
                <label for="id_introducer_number" id="introducer_number">شماره رابط سازمان:</label>
                {{ form.introducer_number |add_class:'form-contorl' }}<br>
                <label for="id_introducer_number" id="introducer_number">نام اپراتور::</label>
                {{ form.operator_info |add_class:'form-contorl' }}<br>
                <button id="send-form" class="btn btn-primary " name="submit">save💾</button>
                <a href="{% url 'dashboard:create' %}" class="btn btn-danger col-md-1">Reset</a>
            </form>

        </div>
    </div>
{% endblock %}
</body>
{% block page_scripts %}
    {#    <script>#}
    {#regex#}
    {#        $(document).ready(function () {#}
    {#            $('#send-form').on('click', function (event) {#}
    {#                var name = $('#id_name').val();#}
    {#                var city = $('#id_city').val();#}
    {#                var number = $('#id_number').val();#}
    {#                var email = $('#id_email').val();#}
    {#                var number_of_employees = $('#id_number_of_employees').val();#}
    {#                var related_product = $('#id_related_product').val();#}
    {#                var introducer_name = $('#id_introducer_name').val();#}
    {#                var introducer_number = $('#id_introducer_number').val();#}
    {#                var operator_info = $('#id_operator_info').val();#}
    {#                var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');#}
    {##}
    {#                $.ajax({#}
    {#                    url: '{% url "dashboard:create" %}',#}
    {#                    method: 'post',#}
    {#                    headers: {"X-CSRFToken": $crf_token},#}
    {#                    data: {#}
    {#                        name: name,#}
    {#                        city: city,#}
    {#                        number: number,#}
    {#                        email: email,#}
    {#                        number_of_employees: number_of_employees,#}
    {#                        related_product: related_product,#}
    {#                        introducer_name: introducer_name,#}
    {#                        introducer_number: introducer_number,#}
    {#                        operator_info: operator_info,#}
    {#                    },#}
    {#                    success: function (response) {#}
    {#                        alert('با موفقیت ذخیره شد.');#}
    {#                    },#}
    {#                    error: function (response) {#}
    {#                        alert('اطلاعات وارد شده صحیح نیست.');#}
    {#                    }#}
    {#                });#}
    {#            });#}
    {#        });#}
    {#    </script>#}
{% endblock %}
</body>
</html>
